#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// 最小限の定義のみ
#define ZMK_POINTING_DEFAULT_SCRL_VAL 50

// mscを最もシンプルな設定にリセット
&msc {
    delay-ms = <0>;
    trigger-period-ms = <16>;
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <0>;
};

/ {
    behaviors {
        // 最もシンプルなスクロールビヘイビア
        simple_scroll: simple_scroll {
            compatible = "zmk,behavior-sensor-rotate";
            label = "SIMPLE_SCROLL";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
            tap-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&msc SCRL_UP    &msc SCRL_DOWN  &kp E     &kp R     &kp T                      &kp Y          &kp U  &kp I      &kp O       &kp P
&kp A           &kp S           &kp D     &kp F     &kp G    &mo 4    &none     &kp H          &kp J  &kp K      &kp L       &kp MINUS
&kp Z           &kp X           &kp C     &kp V     &kp B    &mo 3    &kp DEL   &kp N          &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp LEFT_GUI    &kp LEFT_ALT    &kp ESC   &kp SPACE &kp SPACE &kp TAB &kp ENTER &kp BACKSPACE                                &kp BACKSLASH
            >;

            // 最もシンプルなエンコーダ設定
            sensor-bindings = <&simple_scroll>;
        };

        // 他のレイヤーは一時的に無効化
        layer_1 {
            bindings = <
&trans &trans &trans &trans &trans              &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans                      &trans
            >;
            sensor-bindings = <&simple_scroll>;
        };

        layer_2 {
            bindings = <
&trans &trans &trans &trans &trans              &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans                      &trans
            >;
            sensor-bindings = <&simple_scroll>;
        };

        layer_3 {
            bindings = <
&trans &trans &trans &trans &trans              &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans                      &trans
            >;
            sensor-bindings = <&simple_scroll>;
        };

        layer_4 {
            bindings = <
&trans &trans &trans &trans &trans              &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans                      &trans
            >;
            sensor-bindings = <&simple_scroll>;
        };

        layer_5 {
            bindings = <
&trans &trans &trans &trans &trans              &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans                      &trans
            >;
            sensor-bindings = <&simple_scroll>;
        };

        layer_6 {
            bindings = <
&trans &trans &trans &trans &trans              &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans                      &trans
            >;
            sensor-bindings = <&simple_scroll>;
        };
    };
};